<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="center">
        <button data-toggle="modal" ng-click="addEditPerson('save')" class="btn btn-primary center-block pull-right"
            style="margin-top: 55px;margin-bottom: 20px;margin-right: 350px;">Add
            Person</button>
    </div>
    <div class="container">
        <h2>Persons Details</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Address</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <!-- <pre>{{users}}</pre> -->
                    <td>{{user.personid}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.address}}</td>
                    <td class="text-center">
                        <!-- <a class="btn btn-xs btn-info" ng-click="viewDistrictModal(user)">
                            View</a> -->
                        <a class="btn btn-xs btn-warning" data-toggle="modal" data-target="#squarespaceModal1" ng-click="addEditPerson('update', user)">
                            Edit</a>
                        <a class="btn btn-xs btn-danger" ng-click="deletePerson(user)">
                            Delete</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- data-target="#squarespaceModal" -->

</body>

</html>